body {
    max-width: 1500px;
}

a {
    text-decoration: none;
    color: black;
    font-size: medium;
}

a:hover {
    background-color: yellow;
    cursor: pointer;
}

.crossed {
    text-decoration: line-through;
}