div {
    width: 1300px;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

a:hover {
    background-color: yellow;
    cursor: pointer;
}

.crossed {
    text-decoration: line-through;
}